footer{
  background-color: var(--nne-bg-footer); 
  border-top: 0.2rem solid var(--nne-secondary) !important;
}

.text-footer{
  color: var(--nne-font-paragraph) !important;
  &:hover{
    color: var(--nne-font-color) !important;
  }
}

.footer-links {
    padding-left: 2px;
  }
  
  .footer-links li {
    margin-bottom: 20px;
    position: relative;
  }
  
  .footer-links li::before {
    position: absolute;
    top: 0;
    left: -20px;
    height: 12px;
    width: auto;
    color: var(--nne-white);
  }
  
  .footer-links li a {
    color: var(--nne-white);
    font-family: var(--nne-font-paragraph);
    font-size: 14px;
    transition: .2s ease;
    display: block;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
    color: var(--nne-primary);
  }


  .mailinglist{
    background-color: rgb(78, 78, 78) !important;
    color: rgb(255, 255, 255) !important;
  }