/* 3. hero area */

.hero-slider-item {
  height: 84vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  position: relative;
  z-index: 1;

  &.page {
    height: 46vh;
  }
}

.overlay { 
  background-color: rgba(0, 0, 0, 0.1);
  height: 84vh;
  width: 100%;
  z-index: 2;
  margin-bottom: 60px;
  margin-top: -160px;
  &.page {
    height: 46vh; 
  }
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: var(--nne-white);
  z-index: 30; 
//   text-shadow: 2px 2px 3px #060606;
  &.page {
    left: 50%;
  }
}

.hero-title{
  font-size: 2rem !important;  
}

.hero-subtitle{
  font-size: 2.4rem !important;  
}

.hero-text{
  font-size: 1rem !important;  
}


.hero-slider.slick-slider {
  margin-bottom: 60px;
}

.hero-slider [data-animation-in] {
  opacity: 0;
}

.hero-slider-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  outline: 0;
}

.hero-slider .prevArrow,
.hero-slider .nextArrow {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: rgba(48, 48, 50, 0.5);
  color: var(--nne-white);
  border: 0;
  font-size: 25px;
  line-height: 20px;
  opacity: 0;
  transition: all linear 0.2s;
}

@media (max-width: 575px) {
  .hero-slider .prevArrow,
  .hero-slider .nextArrow {
    display: none;
  }
}

.hero-slider .prevArrow:focus,
.hero-slider .nextArrow:focus {
  outline: 0;
}

.hero-slider .prevArrow:hover,
.hero-slider .nextArrow:hover {
  background: hsla(0, 79%, 69%, 0.5);
}

.hero-slider .prevArrow {
  left: 1.2rem;
}

.hero-slider .nextArrow {
  right: 1.2rem;
}

.hero-slider:hover .prevArrow,
.hero-slider:hover .nextArrow {
  opacity: 1;
}

.hero-slider .slick-dots {
  bottom: -71px;
  padding-left: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.hero-slider .slick-dots li {
  width: 295px;
  height: 60px;
  background: var(--nne-white);
  margin: 0;
  display: inline-block;
  position: relative;
}

@media (max-width: 1199px) {
  .hero-slider .slick-dots li {
    width: 230px;
  }
}

@media (max-width: 991px) {
  .hero-slider .slick-dots li {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .hero-slider .slick-dots li {
    width: 120px;
  }
}

@media (max-width: 575px) {
  .hero-slider .slick-dots li {
    width: 25%;
  }
}

.hero-slider .slick-dots li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: -30px;
  // height: 25px;
  // width: 25px;
  background: #303032;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  opacity: 0;
}

.hero-slider .slick-dots li a {
  display: block;
  position: relative;
  text-align: center;
  transition: 0.3s ease;
  color: #9fa123;
}

.hero-slider .slick-dots li a i {
  display: inline-block;
  // font-size: 22px;
  // line-height: 50px;
  // margin-right: 15px;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .hero-slider .slick-dots li a i {
    //   font-size: 20px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .hero-slider .slick-dots li a i {
    margin: 0;
  }
}

.hero-slider .slick-dots li a span {
  font-size: 16px;
  font-weight: 500;
  line-height: 80px;
}

@media (max-width: 991px) {
  .hero-slider .slick-dots li a span {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .hero-slider .slick-dots li a span {
    display: none;
  }
}

.hero-slider .slick-dots li.slick-active {
  background: #afb91a;
}

.hero-slider .slick-dots li.slick-active a {
  color: var(--nne-white);
}

.hero-slider .slick-dots li.slick-active::before {
  opacity: 1;
}

.hero-content h4 {
  letter-spacing: 2px;
}
