@use './components/header';
@use './components/hero-slider';
@use './components/slick';
@use './components/btn';
@use './components/footer';
@use './components/tour-item';
@use './components/tour-list';
@use './components/card';
@use './components/section';
@use './components/icons';
@use './styles.scss';
@use './variables.scss';

:root {
  --nne-primary: #f3a237; 
  --nne-secondary: #fbce3c; 
  --nne-white: #fff;
  --nne-golden: #efaf27;
  --nne-bg-menu: hsla(0, 0%, 50%, 0.5);
  --nne-bg-primary: #f3a237 !important;  
  --nne-bg-secondary: #fbce3c; 
  --nne-bg-gray: #f0f0f0; 
  --nne-bg-footer: #303032;
  --nne-font-primary: #f3a237;
  --nne-font-color: #666;
  --nne-font-dark: #222;
  --nne-font-headings: "Poppins", sans-serif;
  --nne-font-paragraph: "Open Sans", sans-serif;
}

body {
  font-family: var(--nne-font-headings);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

.alert{
  z-index: 200;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--nne-white);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

p, .paragraph {
  font-weight: 400;
  color: rgb(32, 32, 32);
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: var(--nne-font-paragraph); 
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(70, 70, 70);
  font-weight: 500;
  font-family: var(--nne-font-headings); 
}

h1, .h1 {
  font-size: 4rem;
}

@media (max-width: 400px) {
  h1, .h1 {
    font-size: 2.8rem;
  }
}

h2, .h2 {
  font-size: 2.4rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.6rem;
}

h5, .h5 {
  font-size: 1.4rem;
}

h6, .h6 {
  font-size: 1.2rem;
}

body {
  background-color: var(--nne-white);
  overflow-x: hidden;
}

::-moz-selection {
  background: var(--nne-secondary);
  color: var(--nne-white);
}

::selection {
  background: var(--nne-secondary);
  color: var(--nne-white);
}

.social-svg{
  line-height: 10px;
  fill: var(--nne-white) !important;
  font-size: 2rem;
  // align-items: center;
  margin-right: .8rem;
  & :hover{
    fill: var(--nne-primary);
  }

}

.box-shadow {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}

textarea{
  height: 8rem !important;
  resize: none !important;
}

.icon{
  color: #fff;
  &:hover{
    color: var(--nne-font-primary);
  }
}

.avatar{
  border-radius: 5rem;
}