ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none !important;
}

a {
  transition: .2s ease;
}

a:hover {
  color: var(--nne-primary);;
}

a.text-dark:hover,
a.text-white:hover {
  color: var(--nne-primary) !important;
}

a,
button {
  cursor: pointer;
}

.outline-0 {
  outline: 0;
}

.d-unset {
  display: unset !important;
}

.slick-slide {
  outline: 0;
}

.centralized {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hilighted {
  background: var(--nne-bg-secondary);
  color: #919E4D;
  border-radius: 3px;
  padding: 1px 3px;
}


/* 1.2.1 page title */
.page-title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0 100px;
}

/* breadcrumb */
.breadcrumb {
  background-color: transparent !important;
  justify-content: center;
}

.breadcrumb li,
.breadcrumb a {
  color: var(--nne-white);
  font-family: var(--nne-font-headings);
  font-weight: 600;
  font-size: 12px;
  margin: 0 10px;
}

.breadcrumb a {
  position: relative;
}

.breadcrumb a::before {
  position: absolute;
  content: '/';
  right: -17px;
  top: 2px;
  height: 12px;
}

/* 1.2.2 404 page start */
.page-404 {
  padding: 600px 0 60px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .page-404 {
    padding: 450px 0 50px;
  }
}

@media (max-width: 575px) {
  .page-404 {
    padding-top: 250px;
  }
}

@media (max-width: 400px) {
  .page-404 {
    padding-top: 150px;
  }
}

.page-404 h1 {
  font-size: 40px;
}

/* 404 page end */
/* play-icon */
.play-icon {
  width: 85px;
  height: 85px;
  border: 3px solid var(--nne-white);
  border-radius: 50%;
  display: block;
  text-align: center;
}

.play-icon:focus {
  outline: 0;
}

.play-icon i {
  line-height: 79px;
  display: block;
  font-size: 30px;
  color: var(--nne-white);
}

/* round icon */
.round-icon {
  height: 70px;
  min-width: 70px;
  max-width: 70px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background: var(--nne-white);
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: var(--nne-primary);;
  display: inline-block;
}

/* 18. squre icon */
.square-icon {
  height: 25px;
  width: 25px;
  background: #130101;
  color: var(--nne-white);
  font-size: 35px;
  line-height: 65px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

/* team social icon */
.social-icon-lg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  display: inline-block;
}





/* 2.3. Search Form */
.search-form {
  padding: 230px 0;
  background: var(--nne-bg-secondary);
  position: absolute;
  width: 100%;
  top: -800px;
  z-index: 10;
  transition: .3s ease-in;
}

.search-form .close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: var(--nne-white);
}

.search-form .close i {
  transition: .3s ease;
  display: inline-block;
}

.search-form .close:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.search-form.open {
  top: 0;
}

.search-form .form-control {
  background: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  font-size: 20px;
  transition: .3s ease;
  position: relative;
  color: var(--nne-white);
  height: 130px;
  padding: 30px 40px;
}

.search-form h3 {
  font-size: 35px;
  color: var(--nne-white);
  margin-bottom: 35px;
}

.search-form .input-wrapper {
  position: relative;
}

.search-form .input-wrapper button {
  background: none;
  border: 0;
  position: absolute;
  font-size: 20px;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  padding: 20px;
}

.search-form .input-wrapper button i {
  color: var(--nne-white);
}


/* 5. progrgess bar start */
.progressbar-title {
  font-size: 17px;
  font-family: var(--nne-font-paragraph);
  margin-bottom: 7px;
  color: #222 !important;
}

.progress {
  border-radius: 35px;
  overflow: visible;
  margin-bottom: 35px;
  /* 5.2 progressbar value */
}

.progress-bar {
  background-color: var(--nne-bg-secondary);
  border-radius: 35px;
  position: relative;
}

.progress-bar-value {
  font-family: var(--nne-font-paragraph);
  font-weight: 600;
  color: var(--nne-white);
  background: var(--nne-bg-secondary);
  padding: 5px 9px;
  position: absolute;
  top: -35px;
  right: -15px;
  border-radius: 5px;
}

.progress-bar-value::before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 50%;
  background: var(--nne-bg-secondary);
  height: 10px;
  width: 10px;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

/* progrgess bar End */
/* 6. mission section start */
.card-header:first-child {
  border-radius: 35px;
}

/* 7. promo video section start */
.promo-video {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-video p {
  font-family: "Work Sans", sans-serif;
}

/* promo video section end */

/* 10. client logo slider start */
.client-logo-slider .slick-track {
  display: flex;
  align-items: center;
}

/* client logo slider end */
/* 11. fun-facts section start */
.fun-facts {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* fun-facts section end */
/* 12. consultation section start */
.consultation {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
 

/* 13. about section */
.about {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.about-video {
  min-height: 300px;
}

/* 13.8 ceo section start */
.ceo-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

/* ceo section end */
/* 14.3 clients */
.clients {
  background-position: right center;
  background-size: 50%;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .clients {
    background-size: cover !important;
    background-position: center center;
    text-align: center;
  }
}

.clients ul li {
  height: 66px;
}

.clients ul li img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

/* 14.4 process */
.process-item {
  width: 330px;
}

@media (max-width: 1199px) {
  .process-item {
    width: unset;
  }
}

.process-item-number {
  position: absolute;
  left: -35px;
  top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  background: var(--nne-white);
  box-shadow: -5px 0px 40px 0px rgba(0, 0, 0, 0.1);
  font-family: var(--nne-font-paragraph);
  font-weight: 700;
  font-size: 32px;
  color: #222;
}

@media (max-width: 1199px) {
  .process-item-number {
    top: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.process-item h5 {
  margin-bottom: 5px;
  color: var(--nne-primary);;
}

img.arrow-top {
  position: absolute;
  top: 220px;
  right: 250px;
}

@media (max-width: 1199px) {
  img.arrow-top {
    display: none;
  }
}

img.arrow-bottom {
  position: absolute;
  bottom: 100px;
  left: 250px;
}

@media (max-width: 1199px) {
  img.arrow-bottom {
    display: none;
  }
}

/* service single start */

.service-menu li a.active,.service-menu li a:hover {
  background: var(--nne-bg-secondary);
  color: var(--nne-white) !important;
}

/* service single end */

.work-slider-image {
  position: relative;
}

.work-slider-image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  padding: 15px 25px;
  opacity: 0;
  transition: .2s;
}

.work-slider-image .image-overlay i {
  position: absolute;
  color: var(--nne-white);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 24px;
  transition: .2s ease;
  padding: 10px;
}

.work-slider-image .image-overlay i:hover {
  font-size: 30px;
}

.work-slider-image .image-overlay a.h4 {
  position: absolute;
  bottom: 50px;
  color: var(--nne-white);
  transition: .2s ease;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.work-slider-image .image-overlay a.h4:hover {
  color: var(--nne-primary);;
}

.work-slider-image .image-overlay p {
  position: absolute;
  bottom: 15px;
  color: var(--nne-white);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  transition: .3s ease;
  transition-delay: .1s;
}

.work-slider-image:hover .image-overlay {
  opacity: 1;
}

.work-slider-image:hover a.h4,
.work-slider-image:hover p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.work-slider .slick-dots {
  padding-left: 0;
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work-slider .slick-dots li {
  margin: 0 14px;
}

@media (max-width: 400px) {
  .work-slider .slick-dots li {
    margin: 0 2px;
  }
}

.work-slider .slick-dots li:first-child {
  margin-left: 0;
}

.work-slider .slick-dots li button {
  height: 10px;
  width: 40px;
  border-radius: 25px;
  color: transparent;  
  overflow: hidden;
  border: 0;
  border: 2px solid #e5e5e5;
  background: transparent;
  outline: 0;
  display: block;
}

.work-slider .slick-dots li button::before {
  display: none;
}

@media (max-width: 400px) {
  .work-slider .slick-dots li button {
    width: 10px;
  }
}

.work-slider .slick-dots li.slick-active button {
  border-color: var(--nne-primary);;
}

/* 19. project section */


.project-menu ul li {
  padding: 5px 20px;
  border-radius: 35px;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  background: #f5f5f5;
  margin: 0 10px 25px;
}

.project-menu ul li.active {
  background: var(--nne-primary);;
  color: var(--nne-white);
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: .2s ease;
}

.project-info a {
  color: var(--nne-white);
  position: absolute;
  left: 30px;
  bottom: 40px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.project-info a:hover {
  color: var(--nne-primary);;
}

.project-info p {
  position: absolute;
  left: 25px;
  bottom: 0;
  color: var(--nne-white);
  transition: .2s ease;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  transition-delay: .1s;
}

.project-info p i {
  margin-right: 5px;
}

.project-info:hover {
  opacity: 1;
}

.project-info:hover a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project-info:hover p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: .7;
}

/* 19.3 project single page start */

.project-content h3{
  margin-bottom: 10px;
}

.project-content p{
  margin-bottom: 40px;
}

.project-content img{
  margin-bottom: 10px;
  max-width: 100%;
  height: auto
}

.project-content h6{
  font-family: var(--nne-font-paragraph);
  font-weight: 600;
  font-size: 14px;
  color: rgb(26, 25, 25);
  margin-bottom: 25px;
  position: relative;
  margin-left: 20px;
}
.project-content h6::before{
  position: absolute;
  content: "\e65d";
  font-family: "themify";
  top: 0;
  left: -20px;
  color: var(--nne-primary);;
}


/* project single page end */
/* 21.4.3 pagination */
.pagination .page-item .page-link {
  background: transparent;
  border: none;
  color: #000;
  font-family: var(--nne-font-paragraph);
  font-weight: 600;
  transition: .3s ease;
}

.pagination .page-item .page-link:hover {
  color: var(--nne-primary);;
}

.pagination .page-item.active .page-link {
  color: var(--nne-primary);;
}

.pagination .prev .page-link,
.pagination .next .page-link {
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 5px 10px;
  display: block;
  transition: .3s ease;
}

.pagination .prev .page-link:hover,
.pagination .next .page-link:hover {
  border-color: var(--nne-primary);
}

.pagination .prev:hover .page-link,
.pagination .next:hover .page-link {
  color: var(--nne-primary);;
}

.pagination .prev {
  margin-right: 30px;
}

.pagination .next {
  margin-left: 30px;
}

/* 21.4.4 sidebar */
.search-wrapper {
  position: relative;
}

.search-wrapper input {
  background: #f5f5f5;
  border-radius: 30px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  font-size: 13px;
}

.search-wrapper::before {
  content: "\e610";
  font-family: "themify";
  position: absolute;
  top: 50%;
  right: 20px;
  color: #666;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul.tag-list li {
  margin-bottom: 7px;
}

ul.tag-list li a {
  color: #666;
  padding: 10px 15px;
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  font-size: 13px;
  transition: .3s ease;
}

ul.tag-list li a:hover {
  background: var(--nne-primary);;
  border-color: var(--nne-primary);;
  color: var(--nne-white);
}

.newsletter .form-control {
  font-weight: 400;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  font-size: 13px;
}

/* 21.5 blog single start */
/* share icon */
.share-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
}

.share-icon i {
  color: var(--nne-white);
}

/* 21.5.7 blog sidebar */
.sidebar-box-shadow {
  box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.06);
}

.post-content ol{
  padding-left: 20px;
  margin-bottom: 50px;
}

.post-content ol li{
  font-family: var(--nne-font-paragraph);
  position: relative;
  margin-bottom: 5px;
}

.post-content ol li::before{
  position: absolute;
  font-family: "themify";
  content: "\e65d";
  color: var(--nne-primary);;
  height: 15px;
  width: 15px;
  left: -20px;
  top: 0;
}

blockquote{
  background: #d1d1d1;
  padding: 20px;
  border-radius: 5px;
  font-weight: 600;
  color: #000;
}

.recent-post-thumb{
  max-width: 100px;
}

/* blog single end */
/* 22. contact section */
.form-control {
  border-radius: 5px;
  padding: 0 15px 2px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  font-family: var(--nne-font-paragraph);
  font-weight: 600;
  font-size: 14px;
  color: #666;
}

.form-control:focus {
  border-color: var(--nne-primary);;
  box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
  color: #666;
}

.form-control:-ms-input-placeholder {
  color: #666;
}

.form-control::-ms-input-placeholder {
  color: #666;
}

.form-control::placeholder {
  color: #666;
}


/* 22.3 google map */
.map {
  position: relative;
}

.map #map_canvas {
  height: 450px;
}



/* 24. comming soon */
.comming-soon {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

.comming-soon h1 {
  font-size: 50px;
  font-weight: 600;
}

@media (max-width: 575px) {
  .comming-soon h1 {
    font-size: 30px;
  }
}

.comming-soon .form-control {
  height: 45px;
  border-radius: 45px;
  position: relative;
  background: transparent;
  border: 1px solid #e5e5e5;
  color: var(--nne-white);
  margin-bottom: 40px;
}

.comming-soon .form-control::-webkit-input-placeholder {
  color: #666;
}

.comming-soon .form-control:-ms-input-placeholder {
  color: #666;
}

.comming-soon .form-control::-ms-input-placeholder {
  color: #666;
}

.comming-soon .form-control::placeholder {
  color: #666;
}

.comming-soon .btn-email {
  position: absolute;
  top: 0;
  right: 15px;
  background: var(--nne-white);
  border: 0;
  color: var(--nne-primary);;
  border-radius: 45px;
  height: 45px;
  padding: 0 50px;
}

@media (max-width: 575px) {
  .comming-soon .btn-email {
    padding: 0 10px;
  }
}

.comming-soon i {
  color: #5c5c5c;
  margin: 0 15px;
  transition: .2s ease;
  font-size: 24px;
}

.comming-soon i:hover {
  color: var(--nne-primary);;
}

/* 24.1 syotimer */
.syotimer {
  text-align: center;
  margin: 0 auto 40px;
}

.syotimer-cell:last-child .syotimer-cell__value::before {
  opacity: 0;
}

.syotimer-cell {
  display: inline-block;
  margin: 0 25px;
}

@media (max-width: 1199px) {
  .syotimer-cell {
    margin: 0 20px;
  }
}

@media (max-width: 575px) {
  .syotimer-cell {
    margin: 0 10px;
  }
}

@media (max-width: 400px) {
  .syotimer-cell {
    margin: 0 5px;
  }
}

.syotimer-cell__value {
  font-size: 60px;
  font-weight: 600;
  color: var(--nne-white);
  position: relative;
}

@media (max-width: 1199px) {
  .syotimer-cell__value {
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  .syotimer-cell__value {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .syotimer-cell__value {
    font-size: 24px;
  }
}

.syotimer-cell__value::before {
  position: absolute;
  content: ':';
  height: 30px;
  color: var(--nne-white);
  right: -30px;
  top: 0;
}

@media (max-width: 575px) {
  .syotimer-cell__value::before {
    right: -20px;
  }
}

@media (max-width: 400px) {
  .syotimer-cell__value::before {
    right: -12px;
  }
}

.syotimer-cell__unit {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: var(--nne-white);
}

/* 25.1 social link */
.social-icon-outline {
  height: 45px;
  width: 45px;
  padding: .4rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--nne-white);
  text-align: center;
  transition: .2s ease;
  display: inline-block;
  &:hover {
    border-color: var(--nne-primary);
  }
} 

/* 25.3 subcription */
.form-control.subscribe {
  width: 100%;
  border-radius: 35px;
  border: 0;
  padding: 0 20px !important;
  height: 50px;
}


/*# sourceMappingURL=maps/style.css.map */
